src/main/resources/alfresco/extension/sinekarta/model/schema_impronte.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- schema_impronte.xsd versione 2.0.2 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="Comunicazione">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DatiFornitura"/>
				<xsd:element ref="DatiTitolareContabilita"/>
				<xsd:element ref="DatiResponsabileConservazione"/>
				<xsd:element ref="DatiDelegatoConservazione" minOccurs="0" maxOccurs="20"/>
				<xsd:element ref="DatiTrasmissione"/>
				<xsd:element ref="DatiArchivioInformatico"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DatiFornitura">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CodiceFornitura"/>
				<xsd:element ref="PeriodoImposta"/>
				<xsd:element ref="TipoComunicazione"/>
				<xsd:element ref="ProtocolloTelematicoDaSostituire" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CodiceFornitura">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="IMP00"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PeriodoImposta">
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:minInclusive value="1993"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TipoComunicazione">
		<xsd:annotation>
			<xsd:documentation>1= comunicazione ordinaria 2= comunicazione sostitutiva  correttiva 3= comunicazione  sostitutiva per riversamento sostitutivo</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProtocolloTelematicoDaSostituire">
		<xsd:annotation>
			<xsd:documentation>Contiene il protocollo da sostituire in caso di comunicazione di tipo 3 o il protocollo della comunicazione da correggere in caso di comunicazione di tipo 2</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[0-9]{17}"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DatiTitolareContabilita">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DatiAnagr" type="DatiAnagrType"/>
				<xsd:element ref="FatturazioneElettronica"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DatiResponsabileConservazione" type="DatiAnagrType"/>
	<xsd:element name="DatiDelegatoConservazione" type="DatiAnagrType"/>
	<xsd:element name="DatiTrasmissione">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SoggettoObbligatoTrasmissione"/>
				<xsd:element ref="DatiIntermediarioTrasmissione" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SoggettoObbligatoTrasmissione">
		<xsd:annotation>
			<xsd:documentation>Codice fiscale del soggetto che si assume l'obbligo della trasmissione telematica della comunicazione o che conferisce l'incarico ad un intermediario.Deve coincidere con il codice fiscale del Titolare della contabilità o del Responsabile della conservazione ovvero di uno dei Delegati alla conservazione </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="(\d{11})|([A-Z]{6}\d{2}[A-Z][0-9A-Z]{2}[A-Z][0-9A-Z]{3}[A-Z])"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DatiIntermediarioTrasmissione">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CodFisc"/>
				<xsd:element ref="NumIscrizioneAlboCaf" minOccurs="0"/>
				<xsd:element ref="ImpegnoTrasmissione"/>
				<xsd:element ref="DataImpegno"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DatiAnagrType">
		<xsd:sequence>
			<xsd:element ref="CodFisc"/>
			<xsd:choice>
				<xsd:element ref="DatiPersonaFisica"/>
				<xsd:element ref="Denominazione"/>
			</xsd:choice>
			<xsd:element ref="DomFiscaleSedeLegale"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DatiPersonaFisica">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Cognome"/>
				<xsd:element ref="Nome"/>
				<xsd:element ref="Sesso"/>
				<xsd:element ref="DatiNascita"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DomFiscaleSedeLegale">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ComuneStato"/>
				<xsd:element ref="SiglaProvincia"/>
				<xsd:element ref="Indirizzo"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FatturazioneElettronica">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Si"/>
				<xsd:enumeration value="No"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumIscrizioneAlboCaf">
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:pattern value="(\d{5})"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ImpegnoTrasmissione">
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DataImpegno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Giorno"/>
				<xsd:element ref="Mese"/>
				<xsd:element ref="Anno"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DatiArchivioInformatico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LuogoConservazione"/>
				<xsd:element ref="Impronta"/>
				<xsd:element ref="MarcaTemporale"/>
				<xsd:element ref="IndiceDocumentiInArchivio"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LuogoConservazione">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ComuneStato"/>
				<xsd:element ref="SiglaProvincia"/>
				<xsd:element ref="Indirizzo"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Impronta">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[0-9A-Fa-f]{40}|[0-9A-Fa-f]{64}"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MarcaTemporale" >
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1" />			
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IndiceDocumentiInArchivio">
		<xsd:annotation>
			<xsd:documentation>in caso di comunicazione sostitutiva per riversamento tutti i dati devono essere uguali a quelli indicati nella comunicazione da sostituire</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NumElemIndice"/>
				<xsd:element ref="Documento" maxOccurs="85"/>
				<!--<xsd:element ref="FattureEmesse" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="FattureRicevute" minOccurs="0"/>
				<xsd:element ref="NotaVariazioneAumento" minOccurs="0"/>
				<xsd:element ref="NotaVariazioneDiminuzione" minOccurs="0"/>
				<xsd:element ref="DocumTrasporto" minOccurs="0"/>
				<xsd:element ref="Scontrino" minOccurs="0"/>
				<xsd:element ref="Ricevuta" minOccurs="0"/>
				<xsd:element ref="Bolla" minOccurs="0"/>
				<xsd:element ref="LibroGiornale" minOccurs="0"/>
				<xsd:element ref="LibroInventari" minOccurs="0"/>
				<xsd:element ref="LibroMastro" minOccurs="0"/>
				<xsd:element ref="RegistroCronologico" minOccurs="0"/>
				<xsd:element ref="LibroCespiti" minOccurs="0"/>
				<xsd:element ref="RegistroIrpef" minOccurs="0"/>
				<xsd:element ref="RegistroFattureAcquisto" minOccurs="0"/>
				<xsd:element ref="RegistroAcquistiAgenzieViaggio" minOccurs="0"/>
				<xsd:element ref="RegistroFattureEmesse" minOccurs="0"/>
				<xsd:element ref="RegistroFattureInSospeso" minOccurs="0"/>
				<xsd:element ref="RegistroCorrispettivi" minOccurs="0"/>
				<xsd:element ref="GiornaleFondo" minOccurs="0"/>
				<xsd:element ref="RegistroCorrispettiviAgenzieViaggio" minOccurs="0"/>
				<xsd:element ref="RegistroEmergenzaIva" minOccurs="0"/>
				<xsd:element ref="Bollettario" minOccurs="0"/>
				<xsd:element ref="RegistroPrimaNota" minOccurs="0"/>
				<xsd:element ref="RegistroUnicoIva" minOccurs="0"/>
				<xsd:element ref="RegistroRiepilogativoIva" minOccurs="0"/>
				<xsd:element ref="RegistroSezionaleIvaAcquisitiIntraUe" minOccurs="0"/>
				<xsd:element ref="RegistroAcquistiIntraUeNonComm" minOccurs="0"/>
				<xsd:element ref="RegistroTrasferimentiIntraUe" minOccurs="0"/>
				<xsd:element ref="RegistroDichIntentiEmesse" minOccurs="0"/>
				<xsd:element ref="RegistroDichIntentiRicevute" minOccurs="0"/>
				<xsd:element ref="RegistroOmaggi" minOccurs="0"/>
				<xsd:element ref="RegistroMemoriaProdContrassegno" minOccurs="0"/>
				<xsd:element ref="RegistroLavorazioneProdContrassegno" minOccurs="0"/>
				<xsd:element ref="RegistroCaricoProdContrassegno" minOccurs="0"/>
				<xsd:element ref="RegistroScaricoProdContrassegno" minOccurs="0"/>
				<xsd:element ref="RegistroBeniInDeposito" minOccurs="0"/>
				<xsd:element ref="RegistroBeniInContoLavorazione" minOccurs="0"/>
				<xsd:element ref="RegistroBeniComodato" minOccurs="0"/>
				<xsd:element ref="RegistroBeniProva" minOccurs="0"/>
				<xsd:element ref="RegistroSezionaleIvaInterno" minOccurs="0"/>
				<xsd:element ref="RegistroCaricoStampatiFiscali" minOccurs="0"/>
				<xsd:element ref="RegistroSocControllantiControllate" minOccurs="0"/>
				<xsd:element ref="RegistroCaricoScaricoRegimeMargineMetodoAnalitico" minOccurs="0"/>
				<xsd:element ref="RegistroAcquistiRegimeMargineMetodoGlobale" minOccurs="0"/>
				<xsd:element ref="RegistroVenditeRegimeMargineMetodoGlobale" minOccurs="0"/>
				<xsd:element ref="RegistroCaricoCentriElabDati" minOccurs="0"/>
				<xsd:element ref="RegistroScaricoCentriElabDati" minOccurs="0"/>
				<xsd:element ref="RegistroSommeRicevuteDeposito" minOccurs="0"/>
				<xsd:element ref="RegistroEditori" minOccurs="0"/>
				<xsd:element ref="LibroSoci" minOccurs="0"/>
				<xsd:element ref="LibroObbligazioni" minOccurs="0"/>
				<xsd:element ref="LibroAdunanzeDelibAssemblee" minOccurs="0"/>
				<xsd:element ref="LibroAdunanzeDelibConsiglioAmministrazione" minOccurs="0"/>
				<xsd:element ref="LibroAdunanzeDelibCollegioSindacale" minOccurs="0"/>
				<xsd:element ref="LibroAdunanzeDelibComitatoEsecutivo" minOccurs="0"/>
				<xsd:element ref="LibroAdunanzeDelibAssembleeAzionisti" minOccurs="0"/>
				<xsd:element ref="AltriRegistri" minOccurs="0"/>
				<xsd:element ref="UnicoPersoneFisiche" minOccurs="0"/>
				<xsd:element ref="UnicoSocietaPersone" minOccurs="0"/>
				<xsd:element ref="UnicoSocietaCapitale" minOccurs="0"/>
				<xsd:element ref="UnicoEntiNonCommerciali" minOccurs="0"/>
				<xsd:element ref="IrapPersoneFisiche" minOccurs="0"/>
				<xsd:element ref="IrapSocietaPersone" minOccurs="0"/>
				<xsd:element ref="IrapSocietaCapitale" minOccurs="0"/>
				<xsd:element ref="IrapEntiNonCommercialiEdEquiparati" minOccurs="0"/>
				<xsd:element ref="IrapAmministrazioniEdEntiPubblici" minOccurs="0"/>
				<xsd:element ref="Modello730" minOccurs="0"/>
				<xsd:element ref="ModelloConsolidatoNazionaleEMondiale" minOccurs="0"/>
				<xsd:element ref="ModelloIva" minOccurs="0"/>
				<xsd:element ref="ModelloIvaVrRichiestaRimborsoCreditoIva" minOccurs="0"/>
				<xsd:element ref="ModelloIva26Lp2006ProspettoLiquidazioniPeriodiche" minOccurs="0"/>
				<xsd:element ref="ModelloIva74Bis" minOccurs="0"/>
				<xsd:element ref="ComunicazioneAnnualeDatiIva" minOccurs="0"/>
				<xsd:element ref="ModelloRichiestaRimborsoCreditoIvaTrimestrale" minOccurs="0"/>
				<xsd:element ref="ModelloDatiContenutiDichiarazioneIntentoRicevute" minOccurs="0"/>
				<xsd:element ref="Modello770Semplificato" minOccurs="0"/>
				<xsd:element ref="Modello770Ordinario" minOccurs="0"/>
				<xsd:element ref="ModelloCertificazioneCud" minOccurs="0"/>
				<xsd:element ref="ModelloF23" minOccurs="0"/>
				<xsd:element ref="ModelloF24" minOccurs="0"/>
				<xsd:element ref="ModelliAllegatiDichiarazioneRedditiModelloUnico" minOccurs="0"/>
				<xsd:element ref="ModelliAnnotazioneSeparata" minOccurs="0"/>
				<xsd:element ref="RicevutaPresentazioneModelliDichiarazione" minOccurs="0"/>
				<xsd:element ref="AltriDocumenti" minOccurs="0"/>
				-->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CodFisc">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="(\d{11})|([A-Z]{6}\d{2}[A-Z][0-9A-Z]{2}[A-Z][0-9A-Z]{3}[A-Z])"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Cognome">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="60"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Denominazione">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="60"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Nome">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Sesso">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[MF]"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DatiNascita">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ComuneStato"/>
				<xsd:element ref="SiglaProvincia"/>
				<xsd:element ref="Data"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SiglaProvincia">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[A-Z][A-Z]"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Data">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Giorno"/>
				<xsd:element ref="Mese"/>
				<xsd:element ref="Anno"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Giorno">
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="31"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Mese">
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Anno">
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:minInclusive value="1850"/>
				<xsd:maxInclusive value="2500"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Indirizzo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FrazioneVia"/>
				<xsd:element ref="NumeroCivico"/>
				<xsd:element ref="Cap"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FrazioneVia">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="35"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumeroCivico">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="6"/>
				<xsd:pattern value="([A-Z\d / \-.])*"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Cap">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="(\d{5})"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumElemIndice">
		<xsd:annotation>
			<xsd:documentation>Indice ordinale del tipo di documento</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="85"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ComuneStato">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!--
	<xsd:element name="FattureEmesse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FattureRicevute">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NotaVariazioneAumento">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NotaVariazioneDiminuzione">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DocumTrasporto">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Scontrino">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Ricevuta">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Bolla">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LibroGiornale">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LibroInventari">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LibroMastro">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroCronologico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LibroCespiti">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroIrpef">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroFattureAcquisto">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroAcquistiAgenzieViaggio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroFattureEmesse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroFattureInSospeso">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroCorrispettivi">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GiornaleFondo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroCorrispettiviAgenzieViaggio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroEmergenzaIva">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Bollettario">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroPrimaNota">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroUnicoIva">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroRiepilogativoIva">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroSezionaleIvaAcquisitiIntraUe">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroAcquistiIntraUeNonComm">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroTrasferimentiIntraUe">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroDichIntentiEmesse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroDichIntentiRicevute">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroOmaggi">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroMemoriaProdContrassegno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroLavorazioneProdContrassegno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroCaricoProdContrassegno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroScaricoProdContrassegno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroBeniInDeposito">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroBeniInContoLavorazione">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroBeniComodato">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroBeniProva">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroSezionaleIvaInterno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroCaricoStampatiFiscali">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroSocControllantiControllate">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroCaricoScaricoRegimeMargineMetodoAnalitico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroAcquistiRegimeMargineMetodoGlobale">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroVenditeRegimeMargineMetodoGlobale">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroCaricoCentriElabDati">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroScaricoCentriElabDati">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroSommeRicevuteDeposito">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistroEditori">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LibroSoci">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LibroObbligazioni">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LibroAdunanzeDelibAssemblee">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LibroAdunanzeDelibConsiglioAmministrazione">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LibroAdunanzeDelibCollegioSindacale">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LibroAdunanzeDelibComitatoEsecutivo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LibroAdunanzeDelibAssembleeAzionisti">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AltriRegistri">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnicoPersoneFisiche">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnicoSocietaPersone">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnicoSocietaCapitale">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnicoEntiNonCommerciali">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IrapPersoneFisiche">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IrapSocietaPersone">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IrapSocietaCapitale">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnicoEntiNonCommercialiEdEquiparati">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IrapAmministrazioniEdEntiPubblici">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Modello730">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelloConsolidatoNazionaleEMondiale">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelloIva">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelloIvaVrRichiestaRimborsoCreditoIva">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelloIva26Lp2006ProspettoLiquidazioniPeriodiche">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelloIva74Bis">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ComunicazioneAnnualeDatiIva">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelloRichiestaRimborsoCreditoIvaTrimestrale">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelloDatiContenutiDichiarazioneIntentoRicevute">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Modello770Semplificato">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Modello770Ordinario">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelloCertificazioneCud">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelloF23">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelloF24">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelliAllegatiDichiarazioneRedditiModelloUnico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelliAnnotazioneSeparata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RicevutaPresentazioneModelliDichiarazione">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AltriDocumenti">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	-->
	<xsd:element name="Numero">
		<xsd:annotation>
			<xsd:documentation>Numero di documenti dello stesso tipo</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="999999999999"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DataInizioVal">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Giorno"/>
				<xsd:element ref="Mese"/>
				<xsd:element ref="Anno"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DataFineVal">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Giorno"/>
				<xsd:element ref="Mese"/>
				<xsd:element ref="Anno"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Documento">
		<xsd:annotation>
			<xsd:documentation>Non e' possibile inserire lo stesso tipo di documento piu' di una volta. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Numero"/>
				<xsd:element ref="DataInizioVal"/>
				<xsd:element ref="DataFineVal"/>
			</xsd:sequence>
			<xsd:attribute name="TipoDocumento" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="FattureEmesse"/>
						<xsd:enumeration value="FattureRicevute"/>
						<xsd:enumeration value="NotaVariazioneAumento"/>
						<xsd:enumeration value="NotaVariazioneDiminuzione"/>
						<xsd:enumeration value="DocumTrasporto"/>
						<xsd:enumeration value="Scontrino"/>
						<xsd:enumeration value="Ricevuta"/>
						<xsd:enumeration value="Bolla"/>
						<xsd:enumeration value="LibroGiornale"/>
						<xsd:enumeration value="LibroInventari"/>
						<xsd:enumeration value="LibroMastro"/>
						<xsd:enumeration value="RegistroCronologico"/>
						<xsd:enumeration value="LibroCespiti"/>
						<xsd:enumeration value="RegistroIrpef"/>
						<xsd:enumeration value="RegistroFattureAcquisto"/>
						<xsd:enumeration value="RegistroAcquistiAgenzieViaggio"/>
						<xsd:enumeration value="RegistroFattureEmesse"/>
						<xsd:enumeration value="RegistroFattureInSospeso"/>
						<xsd:enumeration value="RegistroCorrispettivi"/>
						<xsd:enumeration value="GiornaleFondo"/>
						<xsd:enumeration value="RegistroCorrispettiviAgenzieViaggio"/>
						<xsd:enumeration value="RegistroEmergenzaIva"/>
						<xsd:enumeration value="Bollettario"/>
						<xsd:enumeration value="RegistroPrimaNota"/>
						<xsd:enumeration value="RegistroUnicoIva"/>
						<xsd:enumeration value="RegistroRiepilogativoIva"/>
						<xsd:enumeration value="RegistroSezionaleIvaAcquisitiIntraUe"/>
						<xsd:enumeration value="RegistroAcquistiIntraUeNonComm"/>
						<xsd:enumeration value="RegistroTrasferimentiIntraUe"/>
						<xsd:enumeration value="RegistroDichIntentiEmesse"/>
						<xsd:enumeration value="RegistroDichIntentiRicevute"/>
						<xsd:enumeration value="RegistroOmaggi"/>
						<xsd:enumeration value="RegistroMemoriaProdContrassegno"/>
						<xsd:enumeration value="RegistroLavorazioneProdContrassegno"/>
						<xsd:enumeration value="RegistroCaricoProdContrassegno"/>
						<xsd:enumeration value="RegistroScaricoProdContrassegno"/>
						<xsd:enumeration value="RegistroBeniInDeposito"/>
						<xsd:enumeration value="RegistroBeniInContoLavorazione"/>
						<xsd:enumeration value="RegistroBeniComodato"/>
						<xsd:enumeration value="RegistroBeniProva"/>
						<xsd:enumeration value="RegistroSezionaleIvaInterno"/>
						<xsd:enumeration value="RegistroCaricoStampatiFiscali"/>
						<xsd:enumeration value="RegistroSocControllantiControllate"/>
						<xsd:enumeration value="RegistroCaricoScaricoRegimeMargineMetodoAnalitico"/>
						<xsd:enumeration value="RegistroAcquistiRegimeMargineMetodoGlobale"/>
						<xsd:enumeration value="RegistroVenditeRegimeMargineMetodoGlobale"/>
						<xsd:enumeration value="RegistroCaricoCentriElabDati"/>
						<xsd:enumeration value="RegistroScaricoCentriElabDati"/>
						<xsd:enumeration value="RegistroSommeRicevuteDeposito"/>
						<xsd:enumeration value="RegistroEditori"/>
						<xsd:enumeration value="LibroSoci"/>
						<xsd:enumeration value="LibroObbligazioni"/>
						<xsd:enumeration value="LibroAdunanzeDelibAssemblee"/>
						<xsd:enumeration value="LibroAdunanzeDelibConsiglioAmministrazione"/>
						<xsd:enumeration value="LibroAdunanzeDelibCollegioSindacale"/>
						<xsd:enumeration value="LibroAdunanzeDelibComitatoEsecutivo"/>
						<xsd:enumeration value="LibroAdunanzeDelibAssembleeAzionisti"/>
						<xsd:enumeration value="AltriRegistri"/>
						<xsd:enumeration value="UnicoPersoneFisiche"/>
						<xsd:enumeration value="UnicoSocietaPersone"/>
						<xsd:enumeration value="UnicoSocietaCapitale"/>
						<xsd:enumeration value="UnicoEntiNonCommerciali"/>
						<xsd:enumeration value="IrapPersoneFisiche"/>
						<xsd:enumeration value="IrapSocietaPersone"/>
						<xsd:enumeration value="IrapSocietaCapitale"/>
						<xsd:enumeration value="IrapEntiNonCommercialiEdEquiparati"/>
						<xsd:enumeration value="IrapAmministrazioniEdEntiPubblici"/>
						<xsd:enumeration value="Modello730"/>
						<xsd:enumeration value="ModelloConsolidatoNazionaleEMondiale"/>
						<xsd:enumeration value="ModelloIva"/>
						<xsd:enumeration value="ModelloIvaVrRichiestaRimborsoCreditoIva"/>
						<xsd:enumeration value="ModelloIva26Lp2006ProspettoLiquidazioniPeriodiche"/>
						<xsd:enumeration value="ModelloIva74Bis"/>
						<xsd:enumeration value="ComunicazioneAnnualeDatiIva"/>
						<xsd:enumeration value="ModelloRichiestaRimborsoCreditoIvaTrimestrale"/>
						<xsd:enumeration value="ModelloDatiContenutiDichiarazioneIntentoRicevute"/>
						<xsd:enumeration value="Modello770Semplificato"/>
						<xsd:enumeration value="Modello770Ordinario"/>
						<xsd:enumeration value="ModelloCertificazioneCud"/>
						<xsd:enumeration value="ModelloF23"/>
						<xsd:enumeration value="ModelloF24"/>
						<xsd:enumeration value="ModelliAllegatiDichiarazioneRedditiModelloUnico"/>
						<xsd:enumeration value="ModelliAnnotazioneSeparata"/>
						<xsd:enumeration value="RicevutaPresentazioneModelliDichiarazione"/>
						<xsd:enumeration value="AltriDocumenti"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
